.repo__div {
    flex-direction: row;
    margin:0 30px
}

.repo__details {
    flex-direction: column
}

.repo__detail {
    display: inline-block; 
    margin-right:20px
}

.user__image { 
    width: 200px;  
    border-radius: 50%; 
    margin: 40px
}

.user__link {
    text-decoration: none;
    color:grey
}